<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h3><a href="/registration">Registration</a></h3>
<table>
    <tr th:each="student:${students}">
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getSurname()}"></td>
        <td th:text="${student.getPhone()}"></td>
        <td th:text="${student.getAddress()}"></td>
        <td th:text="${student.getCourse().getCourseName()}"></td>

    </tr>
</table>
</body>
</html>